@font-face {
    font-family: "Figtree";
    src: url("/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Figtree";
    src: url("/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("/fonts/static/Figtree-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

:root {
    --yellow: hsl(47 88 63);

    --gray-950: hsl(0 0 7);
    --gray-500: hsl(0 0 42);

    --ff-primary: "Figtree";

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;
}

/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Figtree", sans-serif;
    color: var(--gray-950);
    background-color: var(--yellow);
    line-height: 150%;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: var(--fs-300);
}

footer a {
    color: var(--gray-500);
}

.card {
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 1.5rem;
    width: min-content;
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: solid 1px var(--gray-950);
    box-shadow: 0.5rem 0.5rem var(--gray-950);
}

.card__image {
    border-radius: 0.625rem;
}

.card__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
}

.card__status {
    background-color: var(--yellow);
    border-radius: 0.25rem;
    padding: 0.125rem 0.75rem;
    font-size: var(--fs-300); 
    font-weight: 800;
}

.card__date {
    font-size: var(--fs-300);
}

.card h1 {
    font-size: var(--fs-500);
    font-weight: 800;
}

.card__body {
    font-size: var(--fs-400);
    color: var(--gray-500);
}

.card__portrait {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.card__portrait p {
    font-size: var(--fs-300);
    font-weight: 800;
}
